.about-span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #828282;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 4.5rem;
}

@media (max-width: 1024px) {
  .about-span {
    font-size: 3rem;
  }
}

.people-span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #828282;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
}
